<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>KotkiServlet</servlet-name>
    <servlet-class>KotkiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KotkiServlet</servlet-name>
    <url-pattern>/kot</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KotkiJsp</servlet-name>
    <jsp-file>/kotki.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>KotkiJsp</servlet-name>
    <url-pattern>/kotkijsp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
</web-app>